aiodns==3.0.0
aiohttp==3.8.3
aiosignal==1.3.1
alpha-vantage==2.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
aniso8601==9.0.1
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
base58==2.1.1
beautifulsoup4==4.12.0
bitarray==2.6.2
bytesbufio==1.0.3
ccxt==3.0.22
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
cytoolz==0.12.1
distlib==0.3.6
dnspython==2.3.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
filelock==3.10.0
Flask==2.2.3
Flask-RESTful==0.3.9
fonttools==4.39.2
frozenlist==1.3.3
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
h11==0.14.0
h2==4.1.0
hexbytes==0.3.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.1
jsonschema==4.17.3
kiwisolver==1.4.4
lru-dict==1.1.8
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.2
matplotlib==3.7.1
midi2audio==0.1.1
mido==1.2.10
more-itertools==9.1.0
multiaddr==0.0.9
multidict==6.0.4
music21==8.1.0
netaddr==0.8.0
numpy==1.24.2
openai==0.26.2
packaging==23.0
pandas==1.5.3
parsimonious==0.8.1
Pillow==9.4.0
platformdirs==3.1.1
protobuf==3.19.5
pyaes==1.6.1
pyasn1==0.4.8
pycares==4.3.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
pymongo==4.3.3
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-telegram-bot==20.1
pytz==2022.7.1
requests==2.28.2
rfc3986==1.5.0
rlp==2.0.1
rsa==4.9
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.0
soupsieve==2.4
Telethon==1.27.0
tomli==2.0.1
toolz==0.12.0
tqdm==4.64.1
urllib3==1.26.14
varint==1.0.2
virtualenv==20.21.0
web3==5.31.3
webcolors==1.12
websockets==9.1
Werkzeug==2.2.3
yarl==1.8.2
zipp==3.15.0
